.container-fluid  {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row{
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 3rem;
}

.bg-orange {
    background-color: #FE5D26;

}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 10px 20px;
}
  
.topnav a.split {
    float: left;
}
.topnav a.split:hover {
    background-color: #333;
}

button {
    background-color: #FE5D26;
    color: white;
    margin-top: 6px;
    margin-left: 10px;
    padding: 8px 16px;
    border: 0px;
    font-size: 22px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-weight: 600px;
    text-decoration: none;
}

.buttonstandard {
    float: right;
}

.topnav a {
    float: right;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-weight: 500px;
    text-decoration: none;
    padding: 14px 20px;
}

.pagetitle h2 {
    color:black; 
    margin: 2px 0px;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
}

h5 { 
    color: #FE5D26;
    margin:0px;
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 70px;
}

h4 {
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.checkoutmywork {
    margin-top:40px;
    margin-bottom:0px;
    font-weight:500;
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #EDE38C;;
    text-decoration-thickness: 4px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: #FFFEF9;
    border-radius: 10px;
    border: none;
    padding-top: 5px;
}
.card-body {
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
.card-title {
    padding-top: 0px;
    font-size: 28px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0px;
}

.card-text {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    margin: 6px 0px 6px 0px;
    line-height: 18px;
}
.card-footer {
    color: transparent;
    background-color: transparent;
    border: none;
    padding-top:10px;
    padding-left: 24px;
    padding-bottom: 24px;
}
.btn-primary {
    background-color: #EDE38C;
    color: black;
    padding: 6px 12px;
    border-radius: 0px;
    border: 0px;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-style: italic;
    font-weight: 600px;
    text-decoration: none;
    --bs-btn-bg: #FE5D26;
    --bs-btn-border-color: #FE5D26;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FE5D26;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FE5D26;
}

footer {
    border-top: 3px solid black;
    background-color:#EDE38C;
}

footer .row {
    margin: 0px !important;
}
.footercontact h6{
    text-align: left;
    color: black;
    margin:0px;
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
}
.footercontact p{
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    margin: 6px 0px 6px 0px;
    line-height: 18px;
    color: black; 
}
.footertabs {
    text-align: right;
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 25px;
    }
}